Code from 5th class on python after orientation by LUMS course - Data Science 
and Machine Learning Using Python

In [99]:
# Import pandas as pd
import pandas as pd
cars = pd.read_csv('https://raw.githubusercontent.com/Masadn/PythonCourse/master/dataset/cars.csv')
# Print out cars
print(cars)

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
5        MOR            70        Morocco          True
6         EG            45          Egypt          True

In [100]:
# selecting one column from the dataframe
cars[["country"]]

         country
0  United States
1      Australia
2          Japan
3          India
4         Russia
5        Morocco
6          Egypt

In [101]:
# double bracket returns a dataframe, single brackets return a series
print(cars["country"])
print(type(cars["country"]))

0    United States
1        Australia
2            Japan
3            India
4           Russia
5          Morocco
6            Egypt
Name: country, dtype: object
<class 'pandas.core.series.Series'>

**Task**

In [102]:
cars[['country', 'drives_right']]

         country  drives_right
0  United States          True
1      Australia         False
2          Japan         False
3          India         False
4         Russia          True
5        Morocco          True
6          Egypt          True

**Selecting rows from a DataFrame**

In [103]:
# Task: print first two rows of DataFrame
cars[0:2]

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False

In [104]:
cars[2:4]

  Unnamed: 0  cars_per_cap country  drives_right
2        JAP           588   Japan         False
3         IN            18   India         False

In [105]:
# task: printing the sixth row 
cars[5:6]

  Unnamed: 0  cars_per_cap  country  drives_right
5        MOR            70  Morocco          True

**Selecting Index Column**
Defining index_col parameter in read_csv method

In [106]:
# Import pandas as pd
import pandas as pd
cars = pd.read_csv('https://raw.githubusercontent.com/Masadn/PythonCourse/master/dataset/cars.csv', index_col=0)
# Print out cars
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

**Data Selection using LOC and ILOC Methods**

*   LOC is label-based,meaning you have to specify based on column and row labels
*   ILOC is integer index based, you can specify rows and columns by their integer index

In [107]:
# Example: Selecting Single Row
cars.loc["RU"]

cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object

In [108]:
cars.iloc[4]

cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object

In [109]:
# Example: Selecting Multiple Rows
cars.loc[["RU", "AUS"]]

     cars_per_cap    country  drives_right
RU            200     Russia          True
AUS           731  Australia         False

In [110]:
cars.iloc[[4,1]]

     cars_per_cap    country  drives_right
RU            200     Russia          True
AUS           731  Australia         False

Use loc or iloc to select the rows corresponding to Japan. The label of this row is JAP, the index
is 2. Print the result set.

In [111]:
cars.loc['JAP']

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

In [112]:
cars.iloc[2]

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

*Subsetting dataset by defining a condition*

In [113]:
cars[cars["country"]=="Japan"]

     cars_per_cap country  drives_right
JAP           588   Japan         False

In [114]:
# Finding index of a certain row in a dataframe 
cars.index[cars["country"]=="Japan"].tolist()

['JAP']

Task: Select the rows for Australia and Egypt as a DataFrame by using both loc / iloc. You can find out about the
labels/indexes of these rows by inspecting data in the cars dataset. Print the result.

In [115]:
cars.index[(cars["country"]=="Australia")|(cars["country"]=="Egypt")].tolist()

['AUS', 'EG']

In [116]:
cars.loc[['AUS', 'EG']]

     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

In [117]:
cars.iloc[[1,6]]

     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

**LOC and ILOC - Selecting Rows and Columns**

In [118]:
# Selecting Single Row & Single Column
cars.loc['IN', 'cars_per_cap']

18

In [119]:
cars.iloc[3, 0]

18

In [120]:
# Selecting Multiple Rows & Single Column
cars.loc[['IN', 'RU'], 'cars_per_cap']

IN     18
RU    200
Name: cars_per_cap, dtype: int64

In [121]:
cars.iloc[[3, 4], 0]

IN     18
RU    200
Name: cars_per_cap, dtype: int64

In [122]:
# Selecting Multiple Rows & Multiple Columns
cars.loc[['IN', 'RU'], ['cars_per_cap', 'country']]

    cars_per_cap country
IN            18   India
RU           200  Russia

In [123]:
cars.iloc[[3, 4], [0, 1]]

    cars_per_cap country
IN            18   India
RU           200  Russia

**Task**: Print out the drives_right value of the row corresponding to Morocco.

In [124]:
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [125]:
cars.loc["MOR",'drives_right']

True

In [126]:
cars.iloc[5,2]

True

In [127]:
cars.iloc[[5],[1,2]]

     country  drives_right
MOR  Morocco          True

**Task** Print out the rows containing the observations for Russia and Morocco and the columns country and drives_right.

In [128]:
cars.iloc[[4,5], [1,2]]

     country  drives_right
RU    Russia          True
MOR  Morocco          True

**LOC and ILOC - Selecting Columns Only**

In [129]:
# Selecting Single Column
cars.loc[:, 'country']

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [130]:
cars.iloc[:, 1]

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [131]:
# Selecting Multiple Columns
cars.loc[:, ['country','drives_right']]

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [132]:
cars.iloc[:, [1, 2]]

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

Slicing and Dicing

In [133]:
cars.iloc[0:2, [1, 2]]

           country  drives_right
US   United States          True
AUS      Australia         False

In [134]:
cars.loc["US":"JAP",["country",'drives_right']]

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False

Notice that loc includes the last value when slicing and dicing as compared to iloc in which last value is excluded

**Task** Print out the drives_right column as a DataFrame using loc or iloc.

In [135]:
cars.loc[:,["drives_right"]]

     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True

In [136]:
cars.iloc[:,[2]]

     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True

**Task** Print out both the cars_per_cap and drives_right column as a DataFrame using loc or iloc.

In [137]:
cars.iloc[:,[0,2]]

     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True

In [138]:
cars.loc[:,["cars_per_cap", "drives_right"]]

     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True

**Task** Print out the Country Where Drive Right Value is True. Print the Following
Cars_Per_Cap and Country Name

In [139]:
cars[cars["drives_right"]==True].iloc[:,[0,1]]

     cars_per_cap        country
US            809  United States
RU            200         Russia
MOR            70        Morocco
EG             45          Egypt

Solution

In [140]:
import pandas as pd
cars = pd.read_csv('https://raw.githubusercontent.com/Masadn/PythonCourse/master/dataset/cars.csv',index_col=3)
# Print out cars
cars

             Unnamed: 0  cars_per_cap        country
drives_right
True                 US           809  United States
False               AUS           731      Australia
False               JAP           588          Japan
False                IN            18          India
True                 RU           200         Russia
True                MOR            70        Morocco
True                 EG            45          Egypt

In [141]:
cars.loc[True,['cars_per_cap', 'country']]

              cars_per_cap        country
drives_right
True                   809  United States
True                   200         Russia
True                    70        Morocco
True                    45          Egypt

In [142]:
cars.loc[0,['cars_per_cap', 'country']]

              cars_per_cap    country
drives_right
False                  731  Australia
False                  588      Japan
False                   18      India

In [143]:
cars.loc[1,['cars_per_cap', 'country']]

              cars_per_cap        country
drives_right
True                   809  United States
True                   200         Russia
True                    70        Morocco
True                    45          Egypt